* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer {
  min-height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  min-height: 15rem;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.count-container {
  padding: 0;
  background-color: aqua;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}

.button {
  padding: 4px 8px;
  border: none;
  background-color: aqua;
  cursor: pointer;
}
